In [4]:
import numpy as np
import pandas as pd
import os
os.chdir("C:\\Users\\Ashwin\\Desktop\\POC\\Adult_Data")

In [5]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [13]:
print ("the train data has ",train.shape)
print ("the test data has",test.shape)

('the train data has ', (32561, 15))
('the test data has', (16281, 15))

In [14]:
train.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [15]:
train.shape[0]

32561

In [18]:
#to check the NA values -3 columns have NA values(workclass,occupation,native.country)
train.isnull().any()

age               False
workclass          True
fnlwgt            False
education         False
education.num     False
marital.status    False
occupation         True
relationship      False
race              False
sex               False
capital.gain      False
capital.loss      False
hours.per.week    False
native.country     True
target            False
dtype: bool

In [19]:
#sum of NA's per column
train.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
target               0
dtype: int64

In [44]:
train.dtypes # NULL values are in categorical column

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
target            object
dtype: object

In [35]:
#Education
train.workclass.value_counts()#count of attributes within a column
train.workclass.value_counts(sort = True)
train.workclass.fillna('Private',inplace= True)

#Occupation
train.occupation.value_counts(sort=True)
train.occupation.fillna('Prof-specialty',inplace = True)

#Native country
train['native.country'].value_counts(sort =True)
train['native.country'].fillna('United-States',inplace = True)

In [36]:
#sum of NA values
train.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
target            0
dtype: int64

In [38]:
train.target.value_counts()/train.shape[0]
#here we can say that if we make random guess there is 75% chance of having salary less than 50k

 <=50K    0.75919
 >50K     0.24081
Name: target, dtype: float64

In [41]:
#crosstab to understand the influence of education on target
pd.crosstab(train.education,train.target,margins=True)/train.shape[0]

target            <=50K      >50K       All
education
 10th          0.026750  0.001904  0.028654
 11th          0.034243  0.001843  0.036086
 12th          0.012285  0.001013  0.013298
 1st-4th       0.004975  0.000184  0.005160
 5th-6th       0.009736  0.000491  0.010227
 7th-8th       0.018611  0.001228  0.019840
 9th           0.014957  0.000829  0.015786
 Assoc-acdm    0.024631  0.008139  0.032769
 Assoc-voc     0.031357  0.011087  0.042443
 Bachelors     0.096250  0.068210  0.164461
 Doctorate     0.003286  0.009398  0.012684
 HS-grad       0.271060  0.051442  0.322502
 Masters       0.023464  0.029452  0.052916
 Preschool     0.001566  0.000000  0.001566
 Prof-school   0.004699  0.012991  0.017690
 Some-college  0.181321  0.042597  0.223918
All            0.759190  0.240810  1.000000

In [43]:
pd.crosstab(train.workclass,train.target,margins=True)/train.shape[0]

target                <=50K      >50K       All
workclass
 Federal-gov       0.018089  0.011394  0.029483
 Local-gov         0.045330  0.018949  0.064279
 Never-worked      0.000215  0.000000  0.000215
 Private           0.544609  0.152422  0.697030
 Self-emp-inc      0.015172  0.019103  0.034274
 Self-emp-not-inc  0.055803  0.022235  0.078038
 State-gov         0.029022  0.010841  0.039864
 Without-pay       0.000430  0.000000  0.000430
Private            0.050521  0.005866  0.056386
All                0.759190  0.240810  1.000000

In [58]:
#to get number of levels in a categorical variable
print ("levels in education",train.education.unique(),train.education.nunique())
print ("levels in workcalss ",train.workclass.unique(),train.workclass.nunique())
print ("levels in marital.status",train.sex.unique(),train.workclass.nunique())

('levels in education', array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object), 16)
('levels in workcalss ', array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', 'Private', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object), 9)
('levels in marital.status', array([' Male', ' Female'], dtype=object), 9)

In [59]:
#as scikit learn takes only numeric values let us apply label encoding on categorical attributes
from sklearn import preprocessing

for x in train.columns:
    if train[x].dtype == 'object':
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(train[x].values))
        train[x] = lbl.transform(list(train[x].values))

In [60]:
train.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,39,6,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,5,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,3,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,3,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,3,338409,9,13,2,9,5,2,0,0,0,40,4,0

In [61]:
train.target.value_counts()

0    24720
1     7841
Name: target, dtype: int64

In [73]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import accuracy_score

y = train['target']
del train['target']

X = train
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1,stratify=y)


#train the RF classifier
clf = RandomForestClassifier(n_estimators = 500, max_depth = 6)
clf.fit(X_train,y_train)
         
#     RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
#                 max_depth=6, max_features='auto', max_leaf_nodes=None,
#                 min_impurity_split=1e-07, min_samples_leaf=1,
#                 min_samples_split=2, min_weight_fraction_leaf=0.0,
#                 n_estimators=500, n_jobs=1, oob_score=False, random_state=None,
#                 verbose=0, warm_start=False)

# clf.predict(X_test)

KeyError: 'target'

11108    0
10964    1
19773    0
2431     1
16412    0
20446    0
27589    0
9866     1
20383    0
10735    0
24618    0
12624    1
1559     0
1649     0
14898    0
32110    0
7952     0
12814    1
811      0
19061    0
5600     1
22366    0
17267    0
29286    0
24262    0
12893    0
22155    0
21097    1
9083     0
24519    0
        ..
6924     1
204      0
32235    0
21860    0
16539    1
28518    0
8981     1
19927    0
31126    1
17244    0
17651    0
17449    0
27894    0
8828     0
17221    0
13303    1
1531     1
31830    1
14795    1
19296    0
11217    0
28170    0
29886    0
15894    0
6786     0
16848    1
3532     0
16753    0
26423    0
32381    0
Name: target, dtype: int64